.wizardsteps {
  background: #0079C2;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  height: 80px;
}

.wizardsteps.list-inline {
  margin-left: 0;
}

.wizardsteps-step {
  min-width: 160px;
  height: 100%;
}

.wizardsteps-step.current {
  background: #3092CD;
  position: relative;
}

.wizardsteps-step.disabled {
  opacity: 0.5;
}

.wizardsteps-step.current:after {
  border-top: 10px solid #3092CD;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  position: absolute;
  top: 99%;
  left: 70px;
}


.wizardsteps-step .fa-stack {
  margin-top: 12px;
  width:100%;
}

.step-number{
  position: absolute;
  top: 9px;
  left: 46%;
  font-size: 18px;
}


.wizardsteps-step-text {
  margin-top: 30px;
  font-size: 12px!important;
}

.button-footer {
  background: #d4dee7;
  border-top: solid 1px #e8e8e8;
  color: #707579;
  height: 50px;
  line-height: 52px;
  font-size: 10px;
  padding: 0 10px;
  font-weight: bold;
  position: fixed;
  text-transform: uppercase;
  right: 0;
  bottom: 0;
  left: 0;
}


.button-footer button{
  margin:8px 0;
}

.drop-zone{
  border: dashed #A9C9DA 3px;
  background-color: #EAE8E8;
  height: 100px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  color: #749FB5;
  padding: 10px;
}

.drop-zone i{
  font-size: 50px;
  opacity: 0.5;
}

.domains li{
  display: inline-flex;
}

.domains li{
  margin: 5px 10px;
}
.domains ul > li > div{
  border: solid gray 1px;
  padding: 20px;
  width:200px;
  text-align: center;
}


